<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.4.6" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.7.1" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="WebSharper" version="4.2.8.255" targetFramework="net461" />
  <package id="WebSharper.Charting" version="4.2.1.196" targetFramework="net461" />
  <package id="WebSharper.ChartJs" version="4.2.2.126" targetFramework="net461" />
  <package id="WebSharper.Community.Panel" version="1.0.0" targetFramework="net461" />
  <package id="WebSharper.Community.PropertyGrid" version="1.0.0" targetFramework="net461" />
  <package id="WebSharper.Data" version="4.2.1.168" targetFramework="net461" />
  <package id="WebSharper.FSharp" version="4.2.8.255" targetFramework="net461" />
  <package id="WebSharper.Reactive" version="4.2.0.117" targetFramework="net461" />
  <package id="WebSharper.UI" version="4.2.4.114" targetFramework="net461" />
</packages>