<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.3.3" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.5.0" targetFramework="net46" />
  <package id="Zafir" version="4.0.181.82-beta9" targetFramework="net46" />
  <package id="Zafir.Charting" version="4.0.123.63-beta9" targetFramework="net46" />
  <package id="Zafir.ChartJs" version="4.0.90.43-beta9" targetFramework="net46" />
  <package id="Zafir.Data" version="4.0.120.59-beta9" targetFramework="net46" />
  <package id="Zafir.FSharp" version="4.0.181.82-beta9" targetFramework="net46" />
  <package id="Zafir.Reactive" version="4.0.95.40-beta9" targetFramework="net46" />
  <package id="Zafir.UI.Next" version="4.0.162.71-beta9" targetFramework="net46" />
</packages>