<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.3.3" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.5.2-beta6" targetFramework="net46" />
  <package id="Zafir" version="4.0.187.90-beta10" targetFramework="net46" />
  <package id="Zafir.Charting" version="4.0.129.69-beta10" targetFramework="net46" />
  <package id="Zafir.ChartJs" version="4.0.96.49-beta10" targetFramework="net46" />
  <package id="Zafir.Data" version="4.0.125.64-beta10" targetFramework="net46" />
  <package id="Zafir.FSharp" version="4.0.187.90-beta10" targetFramework="net46" />
  <package id="Zafir.Reactive" version="4.0.101.46-beta10" targetFramework="net46" />
  <package id="Zafir.UI.Next" version="4.0.167.77-beta10" targetFramework="net46" />
</packages>