div.panelTitle {
    background-color:#404040;
    color:rgb(200,200,200);
    height:20px;
}
div.panelContent {
    background-color:#808080;
}           
.material-icons.orange600 { 
    color: #FB8C00; 
} 
.material-icons.orange600.small { 
    font-size: 15px;
}            
.container .text-muted {
    margin: 20px 0;
}