<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKE" version="4.63.2" targetFramework="net46" />
  <package id="FSharp.Data" version="2.3.3" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.5.6-beta3" targetFramework="net46" />
  <package id="WebSharper" version="4.0.196.147" targetFramework="net46" />
  <package id="WebSharper.Charting" version="4.0.16.91" targetFramework="net46" />
  <package id="WebSharper.ChartJs" version="4.0.18.72" targetFramework="net46" />
  <package id="WebSharper.Community.Panel" version="1.0.0-beta-9" targetFramework="net46" />
  <package id="WebSharper.Community.PropertyGrid" version="1.0.0-beta-9" targetFramework="net46" />
  <package id="WebSharper.Data" version="4.0.15.83" targetFramework="net46" />
  <package id="WebSharper.FSharp" version="4.0.196.147" targetFramework="net46" />
  <package id="WebSharper.Reactive" version="4.0.15.64" targetFramework="net46" />
  <package id="WebSharper.UI.Next" version="4.0.13.126" targetFramework="net46" />
</packages>