<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.5" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net40" />
  <package id="Zafir" version="4.0.169.70-beta7" targetFramework="net40" />
  <package id="Zafir.Charting" version="4.0.112.51-beta7" targetFramework="net40" />
  <package id="Zafir.ChartJs" version="4.0.82.35-beta7" targetFramework="net40" />
  <package id="Zafir.Data" version="4.0.109.47-beta7" targetFramework="net46" />
  <package id="Zafir.FSharp" version="4.0.169.70-beta7" targetFramework="net40" />
  <package id="Zafir.Reactive" version="4.0.88.33-beta7" targetFramework="net40" />
  <package id="Zafir.UI.Next" version="4.0.149.53-beta7" targetFramework="net40" />
</packages>