<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.3.3" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.5.2" targetFramework="net46" />
  <package id="WebSharper" version="4.0.189.96-rc" targetFramework="net46" />
  <package id="WebSharper.Charting" version="4.0.4.79-rc" targetFramework="net46" />
  <package id="WebSharper.ChartJs" version="4.0.4.56-rc" targetFramework="net46" />
  <package id="WebSharper.Data" version="4.0.4.72-rc" targetFramework="net46" />
  <package id="WebSharper.FSharp" version="4.0.189.96-rc" targetFramework="net46" />
  <package id="WebSharper.Reactive" version="4.0.4.53-rc" targetFramework="net46" />
  <package id="WebSharper.UI.Next" version="4.0.4.84-rc" targetFramework="net46" />
</packages>